<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.name %></h1>
    <p>
      Please click on the following CMU Athletics Player Readiness link, login, and complete the post-practice survey based on how you are feeling today. <br>
    </p>
    <p>
      <%= @testURL %> <br>
    </p>
    <p>If you have any questions or issues, please contact your athletic trainer immediately so that we can resolve the problem. <br></p>
    <p>Thanks, <br></p>
    <p>CMU Athletics Player Readiness Team</p>
  </body>
</html>