Hello, <%= @user.name %>
===============================================
 
In anticipation of your upcoming visit to the Holocaust Center of Pittsburgh on <%= Date.today.strftime("%B %d, %Y") %>. Please take a moment to fill out the following anonymous pre-visit survey.
 
Survey link: <%= @testURL %>
Estimated completion time: 5 minutes
 
If you have any questions or issues, please contact your group leader immediately so that we can resolve them as quickly as possible.

Thanks,
Holocaust Center of Pittsburgh Staff

Please do not reply to this message. Replies to this message are routed to an unmonitored mailbox. If you have questions please <a href='https://hcofpgh.org/about-us/contact-2/'>visit our website</a> or call us at 412-421-1500.