<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link type="text/css" rel="stylesheet" href="../../assets/stylesheets/email-style.css"></link>


    <%= javascript_tag do %>
      function redirectToDailyWellness() {
        alert('nice!');
        location.href = <%= @testURL %> ;
      }
    <% end %>
    <!-- 'http://profh.net:8080'; -->

  </head>
  <body>


    <div id="main">

    <div id="box">
    <h3>Hello, <%= @user.name %></h3>
    <p>Please complete the Daily Wellness survey for today, <%= Date.today.strftime("%B %d, %Y") %>.</p>

    <span onclick="redirectToDailyWellness();"><img id="doc" src="../../assets/img/tennis-icon.png" /> Daily Wellness Survey</span>

    <br/><br/><br/>


        <button onclick="redirectToDailyWellness();" class="naughty">Open Application</button>
    </div>

    <br/>

    <div id="bottom">

    <div id="left">
    <p>Carnegie Mellon University Player Readiness Team</p>
    <p>If you have issues, please contact Adam May</p>
    <p>Have Some Feedback? Click here or below and let us know:</p>

    </div>
    <div id="right"><img id="logo" src="https://i.pinimg.com/originals/50/0d/6c/500d6caa0b63db456a107aac90d0df42.png"/></div>

    </div>
    <br/><br/>
    <br/><br/>
    <br/>

    </div>



    </div>


  </body>
</html>
